# Gradle-specific
.gradle/
build/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# Compiled Java classes
*.class

# Log files
*.log

# Package files
*.jar
*.war
*.ear

# Local Gradle distribution
gradle-*

# Windows-specific
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
