# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# Compiled Java classes
*.class

# Log files
*.log

# Package files
*.jar
*.war
*.ear

# Gradle Wrapper
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties

# Local Gradle distribution
gradle-*

# Windows-specific
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
